{% extends 'layout.html.twig' %}
{% block title %}Équipe {{ team.id }}{% endblock %}
{% block body %}
    {% block header %}
        <header class="page-header mt-5">
            <hr>
        </header>
    {% endblock %}
    <div class="container">
        <br>
        <a href="{{ path('Team.create') }}">Retour</a>
        <br><br><br>
        <table class="table">
            <thead class="thead-dark">
            <tr>
                <th scope="col">Nom</th>
                <th scope="col">Prénom</th>
                <th scope="col">Catégorie</th>
                <th scope="col">Danses</th>
            </tr>
            </thead>
            <tbody>
        {% for dancer in list_dancer %}
            <tr>
                <th scope="row">{{ dancer.nameDancer }}</th>
                <td>{{ dancer.firstNameDancer }}</td>
                <td>{{ team.getCategory().nameCategory }}</td>
                <td>{% for dance in list_dances %}{{ dance.nameDance }} {% endfor %}</td>
            </tr>
        {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock %}
