{% extends 'base.html.twig' %}

{% block title %}Hello{% endblock %}

{% block body %}

    <h1> inscription</h1>


    {{ form_start(form) }}

    {{ form_row(form.username,{'attr':{'placeholder':'entrez votre pseudo'}}) }}
    {{ form_row(form.email,{'attr':{'placeholder':'entrez votre adresse mail'}}) }}
    {{ form_row(form.password,{'attr':{'placeholder':'entrez votre mot de passe'}}) }}
    {{ form_row(form.confirmPassword,{'attr':{'placeholder':'confirmer votre mot de passe'}}) }}

    <button type="submit" class="btn btn-success">Valider</button>
    {{ form_end(form) }}
{% endblock %}
