{% extends 'base.html.twig' %}

{% block title %}Inscription{% endblock %}

{% block body %}
    <div class="container">
        <h1>Inscription</h1>
	    <hr>


	    {{ form_start(form) }}

    {{ form_row(form.username,{'attr':{'placeholder':'entrez le nom du club'}}) }}
    {{ form_row(form.nameClubOwner,{'attr':{'placeholder':'entrez le nom du gerant du club'}}) }}
    {{ form_row(form.villeClub,{'attr':{'placeholder':'entrez votre ville'}}) }}
    {{ form_row(form.codePostalClub,{'attr':{'placeholder':'entrez le codePostal de votre ville'}}) }}
    {{ form_row(form.password,{'attr':{'placeholder':'mot de passe'}}) }}
    {{ form_row(form.confirmPassword,{'attr':{'placeholder':'confirmer votre mot de passe'}}) }}
    {{ form_row(form.emailClub,{'attr':{'placeholder':'entrez votre mail '}}) }}
    {{ form_row(form.phoneClub,{'attr':{'placeholder':'entrez votre numero de telephone'}}) }}

	    {% if errors is not empty%}
            <div class="alert alert-danger">
			    {{ errors[0] }}
			    {#{{ errors }}#}
            </div>
	    {% endif %}
        <div class="g-recaptcha mb-3" data-sitekey="6LfoFXwUAAAAAPz7SK8X1aQRKt0SzBQcQXBiM5Ba"></div>

        <button type="submit" class="btn btn-success">Valider</button>
        {{ form_end(form) }}
    </div>
{% endblock %}
