{{ form_start(form) }}
    {{ form_row(form.title) }}
    {{ form_row(form.pdfFile) }}
    <div class="text-center">
        <button class="btn btn-success text-center">{{ button_label|default('Sauvegarder') }} <i class="far fa-save"></i></button>
    </div>
{{ form_end(form) }}
