
{% extends 'base.html.twig' %}

{% block title %}Hello{% endblock %}

{% block body %}





    <table border="2">
        <thead>
        <tr><th> id de l'equipe </th><th> nom du club de l'equipe</th><th> nombre de danseurs</th><th> nom des danseurs</th><th> danses choisies</th><th>categorie actuelle</th><th> Operation</th></tr></thead>        <tbody>



        {% for team in teams %}

            <tr><td>
                    <li>{{ team.id }}</li>
                </td><td>
                    <li>{{ team.club }}</li>
                </td><td>
                    <li>{{ team.countDancers  }}</li>
                </td><td>
                    <li>{% for name in team.dancers %}
                            {{ name.nameDancer }} <br>
                        {% endfor %}</li>
                </td><td>
                    <li>{% for dances in team.dances %}
                            {{ dances.nameDance }} <br>
                        {% endfor %}</li>
                </td>
                <td>
                    <li>{% for cat in team.categories %}
                            {{ cat.getNameCategory }} <br>
                        {% endfor %}</li>
                </td><td>
                    <form id="surclasser" action="." >

                        <a href="/">surclasser</a>
                    </form>

                </td>
            </tr>



        {% endfor %}




        </tbody>
    </table>






{% endblock %}