{% extends 'base.html.twig' %}

{% block title %}
    Inscrire des équipes pour cette compétition !
{% endblock %}

{% block body %}
    <div class="row justify-content-center align-items-center">

        {% for team in teams if teams is not empty %}
            {% include 'team/modalViewDetailsTeam.html.twig' %}
            <div class="col">
                <div class="card m-3">
                    <div class="card-header">
                        {{ team.category }}
                    </div>
                    <div class="card-body">
                        <h5 class="card-title">Équipe {{ team.id }}</h5>
                        <div class="btn-group" role="group" aria-label="Options">
                            <a href="{{ path('Team.registerToCompetition', {'idCompet': compet.id, 'idTeam': team.id}) }}" class="btn btn-outline-success">Inscrire cette équipe</a>
                            <a href="#" class="btn btn-outline-secondary" data-toggle="modal" data-target="#T{{ team.id }}">Voir</a>
                        </div>
                    </div>
                    <div class="card-footer text-muted">
                        {% for dance in team.dances %}{{ dance.nameDance }}<br> {% endfor %}
                    </div>
                </div>
            </div>
        {% else %}
            <p>Votre club n'a pas encore d'équipe</p>
        {% endfor %}

    </div>
{% endblock %}


