{% extends 'base.html.twig' %}
{% block title %}Gestion des compétitions{% endblock %}
{% block body %}
    <h1> Liste des compétitions </h1>
    {% if is_granted('ROLE_ADMIN') %}
        {% include 'competition/createCompetition.html.twig' %}
        <a href="#" class="btn btn-outline-success" data-toggle="modal" data-target="#exampleModalCenter">Ajouter une compétition</a></br>
    {% endif %}
    <hr>
    {% if competitions is defined and competitions is not empty %}
    <div class="table-responsive">
        <table class="table">
            <thead class="thead-dark">
            <tr>
                <th scope="col">Nom</th>
                <th scope="col">Ville</th>
                <th scope="col">Code postal</th>
                <th scope="col">Adresse</th>
                <th scope="col">Date</th>
                <th scope="col">Danses</th>
                <th scope="col"></th>
                {% if is_granted('ROLE_ADMIN') %}
                    <th scope="col">Action</th>
                {% endif %}
                <th scope="col">Ajout</th>
            </tr>
            </thead>
            <tbody>
                {% for compet in competitions %}
                    {% include "competition/modalShowDances.html.twig" %}
                    {% include "_deleteConfirmation.html.twig" with {"id": compet.id, "message": "Êtes-vous sûr(e) de vouloir supprimer la compétition : "~compet.title~" ?", "path" : path('Competition.delete', {id: compet.id})}%}
                    {% set difference = (date(compet.getDateCompetition()|date_modify("-12 day")).diff(date('now')).format('%R%a'))|number_format %}
                    <tr>
                        <th scope="row">{{ compet.title }}</th>
                        <td>{{ compet.city }}</td>
                        <td>{{ compet.postalCode }}</td>
                        <td>{{ compet.address }}</td>
                        <td>{% if difference>=0 %}<strong><span style="color: red">{{ compet.getDateCompetition().format('d/m/Y') }}</span></strong>{% else %}{{ compet.getDateCompetition().format('d/m/Y') }}{% endif %}</td>
                        <td>
                            <a href="#" class="btn btn-outline-success" data-toggle="modal" data-target="#T{{ compet.id }}">Voir les danses</a>
                        </td>
                        <td>
                            <a href="{{ path('Competition.viewDetails', {'id': compet.id}) }}" class="btn btn-outline-secondary">Informations</a>
                        </td>
                        {% if is_granted('ROLE_ADMIN') %}
                            <td><a href="#" data-toggle="modal" data-target="#delete{{ compet.id }}" class="btn btn-danger">Supprimer</a></td>
                                <td><a href="{{ path('Competition.addTeam', {id: compet.id}) }}" class="btn btn-info">Ajouter une équipe</a></td>
                        {% else %}
                            {% if difference<=0 %}
                                <td><a href="{{ path('Competition.addTeam', {id: compet.id}) }}" class="btn btn-info">Ajouter une équipe</a></td>
                            {% else %}
                                <td><strong><span style="color: red">Les inscriptions sont terminées</span></strong></td>
                            {% endif %}
                        {% endif %}
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
        {% else %}
        <strong class="text-center">Pas de compétition de prévue</strong>
    {% endif %}
{% endblock %}