{% extends 'base.html.twig' %}

{% block title %}
    Détails compétition
{% endblock %}


{% block body %}
    <h1>{{ compet.title }}</h1></br>
    <div class="form-row text-center"><div class="col-12"><a href="{{ path('Competition.show') }}" class="btn btn-primary">Retour aux compétitions</a></div></div></br>
    
    <div class="container">
    <ul class="list-group mb-5">
        <li class="list-group-item"><strong>Club organisateur : </strong> {{ compet.clubOrganizer.username }}</li>
        {#TODO:Afficher description#}
        <li class="list-group-item"><strong>Date de la compétition : </strong>{{ compet.dateCompetition|date('d-m-Y') }}</li>
        <li class="list-group-item"><strong>Ville : </strong>{{ compet.city }}</li>
        <li class="list-group-item"><strong>Code postal : </strong>{{ compet.postalCode }}</li>
        <li class="list-group-item"><strong>Adresse : </strong>{{ compet.address }}</li>
        <li class="list-group-item"><strong>Liste des danses de la compétition : </strong>
            {% for dance in compet.dances %}
                {{ dance.nameDance }}
                <hr>
            {% else %}
                Pas de dances renseignée pour cette compétition
            {% endfor %}
        </li>
        <li class="list-group-item"><strong>Description de la compétition : </strong>{{ compet.description }}</li>
    </ul>
    </div>
    {% if compet.teams is not empty %}
        <div class="row">
            {% for team in compet.teams %}
                {% include 'team/modalViewDetailsTeam.html.twig' %}
                <div class="col-lg-4 mb-2">
                    <div class="card text-center">
                        <div class="card-header">
                            {{ team.club.username }}
                        </div>
                        <div class="card-body">
                            <h4 class="card-title">Équipe:{{ team.id }}</h4>
                            <p class="card-text">Cette équipe est inscrite en {{ team.category }}.</p>
                            <p class="card-text">Pour danser les danses suivantes : {% for dance in team.dances %}{{ dance.nameDance }},{% endfor %}</p>
                            <a href="#" class="btn btn-primary" data-toggle="modal" data-target="#T{{ team.id }}">Voir</a>
                        </div>
                        <div class="card-footer text-muted">
                            2 days ago (TODO: METTRE DATE INSCRIPTION)
                        </div>
                    </div>
                </div>

            {% endfor %}
        </div>
    {% else %}
        <div>
            <p>Pas encore d'équipes inscrites ! </p>
        </div>
    {% endif %}
{% endblock %}


