{% extends 'base.html.twig' %}
{% block title %}Gestion des danseurs{% endblock %}
{% block header %}
    <header class="page-header">
        <h1 class="text-uppercase">
            <strong>France Dance Organisation</strong>
        </h1>
        <hr>
    </header>
{% endblock %}

{% block body %}
        <h1>Liste des danseurs</h1>
        {% include "dancer/modalCreateDancer.html.twig" %}
    <a href="#" class="btn btn-outline-success" data-toggle="modal" data-target="#exampleModalCenter">Ajouter un danseur</a>
    <hr>
    <table class="table">
    {% if club.dancers is not empty %}
        <thead class="thead-dark">
        <tr>
            <th scope="col">Nom</th>
            <th scope="col">Prénom</th>
            <th scope="col">Date de naissance</th>
            <th scope="col">Club</th>
            <th scope="col">Action</th>
        </tr>
        </thead>
        <tbody>
        {% for dancer in club.dancers %}
            {% include'dancer/_deleteConfirmation.html.twig' %}
            <tr class="table-{% if dancer.isAuthorized == 1  %}success{% else %}warning{% endif %}">
                <th scope="row">{{ dancer.nameDancer }}</th>
                <td>{{ dancer.firstNameDancer }}</td>
                <td>{{ dancer.getDateBirthDancer().format('d-m-Y') }}</td>
                <td>{{ dancer.club }}</td>
                <td><a href="#"  data-toggle="modal" data-target="#delete{{ dancer.id }}" class="btn btn-danger">Supprimer</a></td>
            </tr>
        {% endfor %}
        </tbody>
        </table>
    {% else %}
        <strong class="text-center">Pas de danseur dans ce club</strong>
        </table>
    {% endif %}
{% endblock %}

