{% extends 'base.html.twig' %}

{% block title %}
    Liste de tous les danseurs
{% endblock %}

{% block body %}
    {{ form(form) }}
    <h1>Danseurs en attente de validation</h1>
    <hr>
    {% if dancers is not empty %}
        {% for dancer in dancers %}
	        {% include 'dancer/_viewDetails.html.twig' %}
            {% include '_deleteConfirmation.html.twig' with {"id": dancer.id, "message": "Êtes-vous sûr de bien vouloir supprimer le danseur : "~dancer.firstNameDancer~" "~dancer.nameDancer, "path": path('Dancer.remove', {id: dancer.id}) } %}
            {% if dancer.isAuthorized == 0 %}
                <div class="alert alert-warning text-left" role="alert">
                    <a href="#" class="btn btn-outline-primary" data-toggle="modal" data-target="#T{{ dancer.id }}">{{ dancer.nameDancer }} {{ dancer.firstNameDancer }}</a>
                    <div class="btn-group center float-right" role="group" aria-label="option">
                        <a href="{{ path('Dancer.edit', {id: dancer.id}) }}" class="btn btn-success"><i class="fas fa-id-card"></i></a>
                        <a href="{{ path('Dancer.authorize', {id: dancer.id}) }}" class="btn btn-success"><i class="fas fa-check"></i></a>
                        <a href="#" data-toggle="modal" data-target="#delete{{ dancer.id }}" class="btn btn-danger"><i class="fas fa-times"></i></a>
                    </div>
                </div>

            {% else %}
                <div class="alert alert-success text-left" role="alert">
                    <a href="#" class="btn btn-outline-primary" data-toggle="modal" data-target="#T{{ dancer.id }}">{{ dancer.nameDancer }} {{ dancer.firstNameDancer }}</a>
                    <a href="{{ path('Dancer.remove', {id: dancer.id}) }}"><span class="btn btn-danger float-right"><i class="fas fa-trash-alt"></i></span></a>
                    <a href="{{ path('Dancer.edit', {id: dancer.id}) }}" class="btn btn-success float-right"><i class="fas fa-id-card"></i></a>
                </div>
            {% endif %}
        {% endfor %}
        <div class="pagination justify-content-center">
            {{ knp_pagination_render(dancers) }}
        </div>
    {% else %}
        <strong>Aucun club n'a encore inscrit de danseurs pour le moment</strong>
    {% endif %}
{% endblock %}
