<!DOCTYPE html>
<html class="has-navbar-fixed-top">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}Welcome!{% endblock %}</title>
    {% block stylesheets %}
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.7.1/css/bulma.min.css">
        <script defer src="https://use.fontawesome.com/releases/v5.1.0/js/all.js">
        </script>
        <link rel="stylesheet" href="{{ asset('layout.css') }}">
    {% endblock %}
</head>
<body>
{% block header %}
    <figure class="image">
        <img  src="{{ asset('Images/bandeau.png') }}" width="1000" height="109">
    </figure>
{% endblock %}
{% block navigation %}
     <nav class="navbar is-fixed-top" role="navigation" aria-label="main navigation">
        <div class="navbar-brand">
            <a role="button" class="navbar-burger" aria-label="menu" aria-expanded="false" onclick="document.querySelector('.navbar-menu').classList.toggle('is-active');">
                <span aria-hidden="true"></span>
                <span aria-hidden="true"></span>
                <span aria-hidden="true"></span>
            </a>
        </div>
        <div class="navbar-menu">
            <div class="navbar-end">
                <a class="navbar-item" href="{{ path('home') }}"><i class="fas fa-home"></i> Home</a>
                <a class="navbar-item" href="{{ path('page2') }}"><i class="fas fa-print"></i>PDF</a>
                <a class="navbar-item" href="{{ path('page3') }}"><i class="fas fa-users"></i>Créer une équipe</a>
                <a class="navbar-item" href="{{ path('page4') }}"><i class="fas fa-user-edit"></i>Ajouter un danseur</a>

                {%  if  app.user  %}
                <a class="navbar-item" href="{{ path('profile.show') }}">voir profil</a>
                {% endif %}
                {% if is_granted('ROLE_USER')  %}
                <a class="navbar-item" href="{{ path('Ticket.addTicket') }}">Envoyer un ticket</a>
                {% endif %}
                {% if is_granted('ROLE_ADMIN') %}
                <a class="navbar-item" href="{{ path('Ticket.showTicket') }}">Messagerie</a>
                {% endif %}
                {% if is_granted('ROLE_ADMIN') %} {# si on est admin, affiche la navBar de l'admin#}
                    <hr>
                    <div class="navbar-item has-dropdown is-hoverable">
                        <a class="navbar-link"><i class="fas fa-toolbox"></i>
                            <strong>Menu club</strong>
                        </a>
                        <div class="navbar-dropdown is-right">

                            {#<h2 class="title is-6"><i class="fas fa-toolbox"></i>Menu administrateur</h2>
                            #}<a class="navbar-item" href="{{ path('admin.createCompetition') }}">  création de competition </a>
                            <a class="navbar-item" href="{{ path('admin.showDossard') }}">confirmation dossards</a>
                            <a class="navbar-item" href="/mailBox">boite mail</a>


                        </div>
                    </div>
                    <hr>
                {% endif %}
                {%  if not app.user  %}
                    <a class="navbar-item" href="/login" ><i class="fa fa-sign-out-alt"></i> Connexion !</a>

                {% else %}
                    <a class="navbar-item" href="/logout" ><i class="fa fa-sign-out-alt"></i> Deconnexion !</a>

                {% endif %}

            </div>
        </div>
        <div id="navbarBasicExample" class="navbar-menu">
            <div class="navbar-end">
                <div class="navbar-item has-dropdown is-hoverable">
                    <a class="navbar-link">
                        Plus
                    </a>

                    <div class="navbar-dropdown is-right">
                        <a class="navbar-item">
                            A propos
                        </a>
                        <a class="navbar-item">
                            Clubs
                        </a>
                        <a class="navbar-item">
                            Contact
                        </a>
                        <hr class="navbar-divider">
                        <a class="navbar-item">
                            Report an issue
                        </a>
                    </div>
                </div>
            </div>
        </div>


    </nav>
{% endblock %}

{% block body %}

{% endblock %}

{% block footer %}

{% endblock %}

{% block javascripts %}{% endblock %}
</body>
</html>



