{% extends 'base.html.twig' %}

{% block title %}
    FDO
{% endblock %}

{% block header %}
    {{ parent() }}
{% endblock %}

{% block navigation %}
    {{ parent() }}
   <nav>
       <a href="{{ path('home') }}">Home</a>
       <a>Page2</a>
       <a>Page3</a>
       <a>Page4</a>
   </nav>
{% endblock %}

{% block body %}
{{ parent() }}
{% endblock %}

{% block footer %}
    {{ parent() }}
{% endblock %}