{% extends 'base.html.twig' %}

{% block title %}
    FDO
{% endblock %}

{% block header %}
    {{ parent() }}
    France Danse Organisation
{% endblock %}

{% block navigation %}
    {{ parent() }}
   <nav>
       <a href="{{ path('home') }}">Home</a>
       <a href="{{ path('page2') }}">Page2</a>
       <a href="{{ path('page3') }}">Page3</a>
       <a href="{{ path('page4') }}">Page4</a>

{%  if not app.user  %}
 <a href="/login" > Connexion</a>
{% else %}
	 <a href="/logout" > Deconnexion</a>
{% endif %}

   </nav>
    <hr>
{% endblock %}

{% block body %}
{{ parent() }}



{% endblock %}

{% block footer %}
    {{ parent() }}
    <br>
    <hr>
    Par Aurélien DREY, Antoine HEITZMANN, Raphael IENCO, Gauvain PATAKY, Olivier SALFRANC, Mattéo BILLET et un peu l'iut
{% endblock %}