<nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top " id="mainNav">
	<div class="container">
		<a class="navbar-brand js-scroll-trigger" href="{{ path('Home.index') }}">
			<img src="{{ asset('Images/logo_fdo.jpg') }}" width="143" height="60" class="d-inline-block align-top" alt="">
		</a>
		<button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
			<span class="navbar-toggler-icon"></span>
		</button>
		<div class="collapse navbar-collapse" id="navbarResponsive">
			<ul class="navbar-nav ml-auto">
				<li class="nav-item">
					<a class="nav-link js-scroll-trigger" href="{{ path('Home.index') }}"><i class="fas fa-home"></i> Accueil</a>
				</li>
				<li class="nav-item">
					<a class="nav-link js-scroll-trigger" href="{{ path('Dossard.show') }}"><i class="fas fa-print"></i> PDF</a>
				</li>
				<li class="nav-item">
					<a class="nav-link js-scroll-trigger" href="{{ path('Team.create') }}"><i class="fas fa-users"></i> Équipes</a>
				</li>
				<li class="nav-item">
					<a class="nav-link js-scroll-trigger" href="{{ path('Dancer.create') }}"><i class="fas fa-user-edit"></i> Danseurs</a>
				</li>
				<li class="nav-item">
					<a class="nav-link js-scroll-trigger" href="{{ path('Competition.show') }}"><i class="fas fa-trophy"></i> Compétitions</a>
				</li>
				{% if is_granted('ROLE_USER')  %}
					<li class="nav-item">
						<a class="nav-link js-scroll-trigger" href="{{ path('Ticket.new') }}"><i class="fas fa-envelope-open-text"></i> Envoyer un ticket</a>
					</li>
				{% endif %}

				<li class="nav-item">
						<a class="nav-link js-scroll-trigger" href="{{ path('Ticket.show') }}"><i class="fas fa-envelope"></i> Tickets</a>
				</li>
					<hr>
					<li class="nav-item dropdown">
						<a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
							<i class="fas fa-toolbox"></i>
							<strong>Menu {% if is_granted('ROLE_ADMIN') %}admin{% else %}club{% endif %}</strong>
						</a>
						<div class="dropdown-menu" aria-labelledby="navbarDropdown">
                            {% if is_granted('ROLE_ADMIN') %}
								<a class="dropdown-item" href="{{ path('Dancer.showAllDancers') }}">Tous les danseurs</a>
								<a class="dropdown-item" href="{{ path('Team.showAll') }}">Toutes les équipes</a>
								<a class="dropdown-item" href="{{ path('Club.showAll') }}"><i class="fas fa-users"></i> Gestion des clubs</a>
								<a class="dropdown-item" href="{{ path('Telecharger') }}"><i class="fas fa-upload"></i> Export base de données</a>

								<div class="dropdown-divider"></div>
							{% endif %}
							<a class="dropdown-item" href="{{ path('Judge.show') }}"><i class="fas fa-users"></i> Liste des juges</a>
							<a class="dropdown-item" href="{{ path('User.showAll') }}"><i class="fas fa-address-book"></i> Annuaire</a>
							<a class="dropdown-item" href="{{ path('Reglements.index') }}"><i class="far fa-file-pdf"></i> Réglements</a>
							<a class="dropdown-item" href="{{ path('User.show') }}"><i class="fas fa-user"></i> Voir profil</a>
						</div>
					</li>
					<hr>

				{%  if not app.user  %}
					<li class="nav-item">
						<a class="nav-link js-scroll-trigger" href="{{ path('Security.login') }}" ><i class="fa fa-sign-out-alt"></i> Connexion</a>
					</li>
				{% else %}
					<li class="nav-item">
						<a class="nav-link js-scroll-trigger" href="{{ path('Security.logout') }}" ><i class="fa fa-sign-out-alt"></i> Déconnexion</a>
					</li>
				{% endif %}
			</ul>
		</div>
	</div>
</nav>