{% extends 'base.html.twig' %}

{% block title %}Annuaire club{% endblock %}

{% block body %}
    <h1>Bienvenue dans l'annuaire des clubs.</h1>
    <hr>
    {% if clubs is not empty %}
        <ul class="list-group list-group-flush text-left">
            {% for club in clubs %}
                {% include 'user/_modalContact.html.twig' %}
                <li class="list-group-item">
                    <h3>{{ club.username }}</h3>
                    {{ club.nameClubOwner }}<br>
                    {{ club.dancers|length }} danseur(s) inscrit(s)<br>
                    {{ club.competitions|length }} compétition(s) organisée(s)
                    <a href="#" class="btn btn-outline-primary float-right" data-toggle="modal" data-target="#T{{ club.id }}"><i class="fas fa-phone"></i>  <i class="fas fa-at"></i>   <i class="fas fa-map-marker-alt"></i></a>
                </li>
            {% endfor %}
        </ul>
    {% else %}
        <strong>Pas encore de clubs inscrits</strong>
    {% endif %}
{% endblock %}


