{% extends 'base.html.twig' %}
{% block title %}Détails du profil{% endblock %}
{% block body %}
    {% include'user/_deleteConfirmation.html.twig' %}
    <h1>Détails du profil</h1>
    <div class="container">
        <ul class="list-group mb-5">
            <li class="list-group-item"><strong>Nom du club : </strong> {{ users.getUsername() }}</li>
            <li class="list-group-item"><strong>Ville : </strong> {{ users.getVilleClub() }}</li>
            <li class="list-group-item"><strong>Code postal : </strong> {{ users.getCodePostalClub() }}</li>
            <li class="list-group-item"><strong>Gérant du club : </strong> {{ users.getNameClubOwner() }}</li>
            <li class="list-group-item"><strong>E-mail du club : </strong> {{ users.getEmailClub() }}</li>
        </ul>
    </div>
<form action="{{ path('User.edit') }}">
    <button type="submit" class="btn btn-success">Modifier profil</button>
</form>
    <a  href="#" data-toggle="modal" data-target="#delete" class="btn btn-danger text-right float-right">Supprimer ce profil</a>


{% endblock %}


